<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TaskSuite">
    <test name="MyTaskTests">
        <groups>
            <run>
                <include name="regression"/>
            </run>
        </groups>
        <classes>
            <!-- List all the test classes that contain regression tests -->
            <class name="TestCases.BaseTest"/>
            <class name="TestCases.taskTest"/>
        </classes>
    </test>
</suite>